.btn-fill-secondary, .btn-secondary{
    background: #27783f;
    border-color: #206d37!important;
}
.btn-fill-primary, .btn-primary{
    background-color: #27783f;
    border-color: #206d37;
}
.btn-fill-primary:hover, .btn-primary:hover{
    background-color: #1f5830!important;
    border-color: #206d37;
}

.o_home_menu_background{
    background: url(/custom_theme_14/static/src/images/login.jpg) no-repeat center/cover!important;
}